@media (max-width: 760px) {

    .header {
        &__menu {
            display: none;
        }

        &__burger-btn {
            display: block;
            margin-left: auto;
        }
    }


    .offer {
        &__content {
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 35px;
        }

        &__text {
            text-align: center;
        }

        &__avatar {
            margin-bottom: 43px;
        }

        &__title {
            margin: 0 auto 21px auto;
            max-width: 312px;
        }

        &__info {
            margin-bottom: 27px;
        }
    }
}