@import './reset.scss';
@import './colors.scss';


.wrapper {
    max-width: 856px;
    margin: 0 auto;
    padding: 0 25px;
}

.header {

    &__menu-wrapper {
        padding-top: 27px;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 33px;
    }

    &__menu-item {
        color: $primary-font-color;
        font-family: Heebo;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
    }

    &__burger-btn {
        background-color: transparent;
        border: none;
        display: none; 
    }
}



.offer {

    font-family: Heebo;
    color: $primary-font-color;

    &__content {
        padding: 140px 0 71px 0;
        
        display: flex;
        justify-content: space-between;
    }

    &__text {
        max-width: 442px;
    }

    &__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 40px;
    }

    &__info {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 38px;
    }

    &__avatar {
        width: 243px;
        height: 243px;
        border-radius: 243px;
        object-fit: cover;
    }

    &__button {
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        background-color: $primary-color;
        border: none;
        border-radius: 2px;
        padding: 9px 20px 17px 20px;

        &:hover {
            padding: 13px 20px 13px 20px;
        }
    }
}

.posts {
    font-family: Heebo;
    color: $primary-font-color;
    background-color: $gray-background;
    padding: 27px 0 32px 0;

    &__header {
        display: flex;
        justify-content: space-between

    }
}


@import './adaptive.scss';